*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 60px;
}

input {
    font-size: 1.2rem;
    color: rgb(7, 50, 85);
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(7, 50, 85);
}

input:focus{
    outline: none;
}
.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}
.card p {
    padding: 5px;
    text-align: center;
}
.card img {
    max-height: 170px;
}